<div class="card p-0">
    <div class="card-header">
        <h6>Modificar modo</h3>
    </div>
    <div class="card-body">
        <form action="/modifyMode" method="POST">
            <div class="form-group mb-2">
                <select name="type" class="form-select form-select-sm">
                    {{#each modes}}
                        <option value="{{id}}">{{mode}}</option>
                    {{/each}}
                    <option value="100">Agregar nuevo</option>
                </select>
            </div>
            <div class="form-group mb-2">
                <input type="text" class="form-control form-control-sm" placeholder="Modificacion:">
            </div>
            <div class="form-group mb-2">
                <button class="btn btn-sm btn-success">Modificar</button>
            </div>
            <div class="form-group"></div>
        </form>
    </div>
</div>