<button type="button" class="button-none" data-bs-toggle="modal" data-bs-target="#outletsModal">
    Salidas
</button>

<div class="modal fade" id="outletsModal" tabindex="-1" aria-labelledby="outletsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="outletsModalLabel">Salidas de papel</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/outlets" method="post">
                    <div class="form-group mb-2">
                        <input type="number" min="{{items.0.id}}" class="form-control form-control-sm" placeholder="Id:" id="moditem-id" name="id">
                    </div>
                    <div class="form-group mb-2">
                        <input type="text" class="form-control form-control-sm" placeholder="Cantidad de papel que sale:" id="modinput" name="modification">
                    </div>
                    <div class="form-group mb-2">
                        <textarea name="observation" class="form-control form-control-sm" placeholder="Observacion de la salida:"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-sm btn-success">Notificar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>