<div class="card p-0">
    <div class="card-header d-flex justify-content-between">
        <h6 class="m-0 d-flex align-items-center">Modificar modo</h3>
        <button type="button" class="btn btn-sm btn-primary" id="modeButton">Cambiar</button>
    </div>
    <div class="card-body">
        <form action="/updateMode" method="POST" id="updateMode">
            <div class="form-group mb-2">
                <select name="field" class="form-select form-select-sm">
                    {{#each modes}}
                        <option value="{{id}}">{{mode}}</option>
                    {{/each}}
                    <option value="new">Agregar nuevo</option>
                </select>
            </div>
            <div class="form-group mb-2">
                <input type="text" class="form-control form-control-sm" placeholder="Modificacion:" name="modification">
            </div>
            <div class="form-group mb-2">
                <button class="btn btn-sm btn-success">Modificar</button>
            </div>
            <div class="form-group"></div>
        </form>

        <form action="/deleteMode" method="post" id="deleteMode">
            <div class="form-group mb-2">
                <select name="id" class="form-select form-select-sm">
                    {{#each modes}}
                        <option value="{{id}}">{{mode}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-sm btn-danger">Eliminar</button>
            </div>
        </form>
    </div>
</div>