<div class="card p-0">
    <div class="card-header d-flex justify-content-between">
        <h6 class="m-0 d-flex align-items-center">Modificar tipo</h3>
        <button type="button" class="btn btn-sm btn-primary" id="typeButton">Cambiar</button>
    </div>
    <div class="card-body">
        <form action="/updateType" method="POST" id="updateType">
            <div class="form-group mb-2">
                <select name="field" class="form-select form-select-sm">
                    {{#each types}}
                        <option value="{{id}}">{{type}}</option>
                    {{/each}}
                    <option value="new">Agregar nuevo</option>
                </select>
            </div>
            <div class="form-group mb-2">
                <input type="text" class="form-control form-control-sm" placeholder="Modificacion:" name="modification">
            </div>
            <div class="form-group mb-2">
                <button class="btn btn-sm btn-success">Modificar</button>
            </div>
            <div class="form-group"></div>
        </form>
        <form action="/deleteType" method="post" id="deleteType">
            <div class="form-group mb-2">
                <select name="id" class="form-select form-select-sm">
                    {{#each types}}
                        <option value="{{id}}">{{type}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-sm btn-danger">Eliminar</button>
            </div>
        </form>
    </div>
</div>