{{#if error}}
    <div class="container pt-4">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                    <b>{{error}}</b>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
{{/if}}